.project_cardContainer {
  margin: 35px auto;
  max-width: 800px;
  text-align: center;
}

.project_imgCards {
  display: inline-block;
  width: 350px;
  margin: 0 2px 9px 2px;
  height: 100px;
  text-align: center;
  color: white;
  /* Making the Text centered of the div, but making the height of the text the same size as the div - only works for oneline texts */
  overflow: hidden;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-size: cover;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  position: relative;
}

.project_imgCards:hover {
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  height: 200px;
}

.project_imgCards img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.projectDescription {
  font-size: 14px;
  width: 200px;
  font-weight: 300;
  text-transform: none;
  position: fixed;
  top: 50px;
  text-align: center;
  transition-timing-function: ease-in-out;
}

.projectStack{
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  width: 400px;
  position: fixed;
  top: 80px;
  right: -140px;
  transition-timing-function: ease-in-out;
}

.projectText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
