html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: black;
}

.intro {
background-size: cover;
background-image:
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)),
  url("../assets/bg.jpg");
}

.navigation {
  position: fixed;
  width: 98%;
  text-align: right;
  color: white;
  top: 0;
}

.navigation li {
  display: inline;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.socials {
  position: fixed;
  width: 50%;
  text-align: left;
  color: white;
  top: 0;
}

.socials li {
  display: inline;
}

.socials img {
  vertical-align: top;
}

@media only screen and (max-width: 425px) {
  .navigation {
    margin-left: 10px;
    width: 95%;
  }

  .socials {
    margin-left: -30px;
    top: 0;
  }
}



.lander {
  /* background-image: url("../assets/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
}

.intro {
  margin: 0 auto;
  padding-top: 180px;
  text-align: center;
  height: 620px;
  color: white;
}

.intro img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: fadeIn 2s ease-in;
}

.intro h1 {
  animation: fadeIn 1s ease-in;
}

.intro h2 {
  animation: fadeIn 2s ease-in;
}

.intro p {
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.projects {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  height: 720px;
  color: white;
}

.mainCards {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  height: 720px;
  color: white;
}

.minute {
  font-size: 10px;
  margin-top: 0;
}

.project_cardContainer {
  margin: 35px auto;
  max-width: 800px;
  text-align: center;
}

.projectLinks {
  word-spacing: 5px;
  font-weight: bold;
}

.projectLinks a {
  color: white;
  text-decoration: none;
}

.projectLinks a:hover {
  text-decoration: underline;
}

.project0, .project1, .project2, .project3 {
  background-position: top;
  background-size: cover;
}

.project0 {
  background-image: url("../assets/project0.png");
}
.project1 {
  background-image: url("../assets/project1.png");
}
.project2 {
  background-image: url("../assets/project2.jpg");
}
.project3 {
  background-image: url("../assets/project3.jpg");
}

.project_imgCards {
  display: inline-block;
  width: 350px;
  margin: 0 2px 9px 2px;
  height: 100px;
  text-align: center;
  color: white;
  /* Making the Text centered of the div, but making the height of the text the same size as the div - only works for oneline texts */
  overflow: hidden;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-size: cover;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  position: relative;
  filter: grayscale(100);
}

.project_imgCards:hover {
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  height: 300px;
  filter: grayscale(0);
}

.projectReveal {
  height: 300px;
  filter: grayscale(0);
}

.projectDescription {
  font-size: 14px;
  width: 300px;
  font-weight: 300;
  text-transform: none;
  position: fixed;
  top: 60px;
  transition-timing-function: ease-in-out;
}

.descrip0 {
  left: -93px;
}
.descrip1 {
  left: -136px;
}
.descrip2 {
  left: -113px;
}
.descrip3 {
  left: -122px;
}

.projectStack{
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
}

.projectText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
