@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: black;
}

.whitey {
  color: white;
}

.intro {
background-size: cover;
background-image:
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)),
  url("../assets/bgdawnlite.jpg");
}

.intro p {
  padding: 0 5% 0 5%;
  font-size: 15px;
  font-family: "Roboto";
}

.navigation {
  position: fixed;
  width: 98%;
  text-align: right;
  color: white;
  top: 0;
  font-family: "Roboto";
}

.navigation li {
  display: inline;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navigation a:hover {
  text-decoration: underline;
}

.socials {
  position: fixed;
  width: 50%;
  text-align: left;
  color: white;
  top: 0;
}

.socials li {
  display: inline;
}

.socials img {
  vertical-align: top;
}

@media only screen and (max-width: 425px) {
  .navigation {
    width: 100%;
    background-color: black;
  }

  .navigation ul{
    padding-right: 10px;
  }

  .socials {
    margin-left: -30px;
    top: 0;
  }
}



.lander {
  /* background-image: url("../assets/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
}

.intro {
  margin: 0 auto;
  padding-top: 180px;
  text-align: center;
  height: 620px;
  color: white;
}

.intro img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: fadeIn 2s ease-in;
}

.intro h1 {
  animation: fadeIn 2s ease-in;
  font-family: "Montserrat";
}

.intro p {
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cardTitle {
  font-family: 'Montserrat', sans-serif;
}

.projects {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  min-height: 750px;
  color: white;
}

@media only screen and (max-width: 425px) {
.projects {
  min-height: 1010px;
  padding-top: 10%;
}

.intro {
  height: 550px;
}

}


.mainCards {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  height: 700px;
  color: white;
  overflow: hidden;
  background-size: cover;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0)),
    url("../assets/bglite.jpg");
}
@media only screen and (max-width: 425px) {
  .mainCards {
    padding-top: 12%;
    height: 700px;
  }
}

.mainCards p {
  line-height: 18px;
  font-family: "Roboto";
}

.aboutMeTitle {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.aboutMe {
  padding: 5% 2%;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1));
  margin: 0 20%;
}

.aboutMe a {
  color: white;
}

@media only screen and (max-width: 425px) {
  .aboutMe {
    margin: 0 10%;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3));
    margin-top: 50px;
    font-size: 15px;
  }

}


.minute {
  font-size: 10px;
  margin-top: 0;
}

.project_cardContainer {
  margin: 35px auto;
  max-width: 800px;
  text-align: center;
}

.projectLinks {
  word-spacing: 5px;
  font-weight: bold;
}

.projectLinks a {
  color: white;
  text-decoration: none;
}

.projectLinks a:hover {
  text-decoration: underline;
}

.project0, .project1, .project2, .project3, .project4, .project5 {
  background-position: top;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.85));
}

.project0 {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(0,0,0, 0.85)),
    url("../assets/project0pic.png");
}

.project1 {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(0,0,0, 0.85)),
    url("../assets/project1pic.png");
}

.project2 {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(0,0,0, 0.85)),
    url("../assets/project2pic.png");
}

.project3 {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(0,0,0, 0.85)),
    url("../assets/project3pic.png");
}

.project4 {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(0,0,0, 0.85)),
    url("../assets/project4pic.png");
}

.project5 {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(0,0,0, 0.85)),
    url("../assets/project5pic.png");
}

.project_imgCards {
  display: inline-block;
  width: 350px;
  margin: 0 2px 9px 2px;
  height: 100px;
  text-align: center;
  color: white;
  /* Making the Text centered of the div, but making the height of the text the same size as the div - only works for oneline texts */
  overflow: hidden;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-size: cover;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  position: relative;
  filter: grayscale(100);

}

.projectReveal {
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  height: 300px;
  filter: grayscale(0);
}

.projectDescription {
  font-size: 15px;
  width: 350px;
  font-weight: 300;
  text-transform: none;
  position: fixed;
  transition-timing-function: ease-in-out;
}

/* .descrip0, .descrip1, .descrip5 {
  left: 50%;
  transform: translate(-50%, 37.5%);
} */

.descrip0, .descrip1, .descrip5, .descrip2, .descrip3, .descrip4 {
  left: 50%;
  transform: translate(-50%, 45%);
}

.projectsIntro {
  color: grey;
  padding: 0 5% 0 5%;
  font-size: 15px;
  font-family: "Roboto";
}

.projectStack{
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
}

.projectText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
